@import "_config.scss";

html, body {
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

/*---------------------------------------
    0 General               
-----------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-thumb {
    background: $black;
}

/*---------------------------------------
    0 Typorgraphy              
-----------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    color: $darkGrey;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.5px;
}

p {
    color: $lightGrey;
    line-height: 25px;
}

a {
    color: #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

/*---------------------------------------
    0 Footer              
-----------------------------------------*/

footer {
    padding: 10px 0 40px 0;
    text-align: center;
}

/*---------------------------------------
    0 Navbar              
-----------------------------------------*/

#nav-responsive {
    display: none;
}

.navbar {
    background-color: $white;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    a {
        color: $lightGrey;
        &:hover {
            color: $black;
        }
    }
}

.nav-title, .nav-links a, .nav-btn {
    font-size: 14px;
    padding: 30px;
    a {
        font-size: 20px;
    }
}

.sticky {
    position: fixed;
}

@media (max-width:768px) {
    .navbar {
        box-shadow: 0 40px 100px rgb(0 0 0 / 20%);
        .nav-title, .nav-btn {
            padding: 15px;
        }
    }
    .nav-btn, label {
        cursor: pointer;
            span {
            display: block;
            width: 22px;
            height: 2px;
            cursor: pointer;
            background-color: $black;
        }
    }
    .icon+.icon {
        margin-top: 4px;
    }
    .nav-links {
        position: absolute;
        width: 100%;
        background-color: $white;
        overflow-y: auto;
        top: 50px;
        text-align: center;
    }
    .nav-links a {
        display: block;
        width: 100%;
        padding: 15px;
    }
    #nav-responsive:not(:checked) ~ .nav-links {
        height: 0px;
    }
}