@import "_config.scss";

html, body {
    font-family: $font;
    -webkit-font-smoothing: antialiased;
}

/*---------------------------------------
    0 General               
-----------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

::-webkit-scrollbar{
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    background: $black;
}

/*---------------------------------------
    0 Typorgraphy              
-----------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    color: $darkGrey;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.5px;
}

p {
    color: $lightGrey;
    line-height: 25px;
}

a {
    color: #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

/*---------------------------------------
    0 Footer              
-----------------------------------------*/

footer {
    padding: 10px 0 40px 0;
    text-align: center;
}